html, body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
}

body {
    font-size: 0.75em;
}

#container {
}

#header {
}

#body {
}

#footer {
    padding-top: 1em;
    text-align: center;
}

h3 {
    text-align: center;
    font-style: italic;
}

table#activities {
    margin-left: auto;
    margin-right: auto;
}

tr.boxes > td {
    width: 50%;
}

table#days {
    width: 100%;
}

table#days td {
    padding: 0px;
    border: 1px dashed black;
}

table#days td.gapday {
    border: 0px;
    width: 20%;
}

td.died {
    vertical-align: top;
}

td.died table {
    float: left;
}

td.died table tr {
    vertical-align: top;
}

td.died table tr td span {
    display: inline-block;
    margin-right: 1em;
    border: dotted 1px;
}

tr.activity td {
    text-align: center;
}

table#day {
    width: 100%;
}

table#day td {
    padding: 0px;
    border: 1px solid black;
}
table#day td:nth-child(1) {
    width: 20%;
}
table#day td:nth-child(2) {
    width: 30%;
}
table#day td:nth-child(3) {
    width: 50%;
}
